.texto{
    color: #808080;
}

.centro{
    width: 400px;
    background: #E6E6FA;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.outro{
    width: 300px;
    background:	#B0C4DE;
    margin-top: 5px;
    margin-left: 20px;
    border-left-color:#1E90FF;
    border-left-style: solid;
    border-left-width: 3px;

}

.title,.subtitle{
    margin: 0px;
    padding-left: 20px;
}

.subtitle{
    color: #808080;
}

p{
    padding-left: 15px;
}

.button{
    background-color: #dadada;
    border-radius: 20px;
    border-style: none;
    padding: 4px 8px;
    transition: all 0.8s;
    align-self: flex-end;
    margin-right: 75px;
    margin-top: 20px;
    color: #808080;
}

.button:hover{
    background-color: darkgray;
}
